@font-face {
    font-family: 'Kathya';
    src: url('Kathya.eot');
    src: url('Kathya.eot?#iefix') format('embedded-opentype'),
        url('Kathya.woff2') format('woff2'),
        url('Kathya.woff') format('woff'),
        url('Kathya.ttf') format('truetype'),
        url('Kathya.svg#Kathya') format('svg');
    font-weight: normal;
    font-style: normal;
}

