title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[account]
redirect = "rsvp"
paramCode = "code"
forceSecure = 0

[galleryId]
idGallery = 1
lang = "Gallery"
jqueryinject = "no"
thumbnail = "true"
caption = "true"
desc = "true"
counter = "true"
controls = "true"
preload = 1
mode = "lg-fade"
speed = 1600
loop = "true"
auto = "false"
pause = 2000
escKey = "true"
height = 200
width = 270
resizer = "crop"
==
<!-- http://7oroof.com/tfdemos/westy-wedding/ -->
<!-- Slider
  ============================================= -->
<section id="slider" class="slider-element dark swiper_wrapper clearfix" style="height: 900px;" data-effect="fade" data-autoplay="5000" data-loop="true" data-speed="1000" data-progress="true">

    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide dark" style="background-image: url('{{'assets/images/header/KISNA_STAN-2.jpg'|theme}}'); background-position: center bottom; height: 900px;"></div>
            <div class="swiper-slide dark" style="background-image: url('{{'assets/images/header/KISNA_STAN-34.jpg'|theme}}'); background-position: center bottom; height: 900px;"></div>
            <div class="swiper-slide dark" style="background-image: url('{{'assets/images/header/KISNA_STAN-54.jpg'|theme}}'); background-position: center bottom; height: 900px;"></div>
        </div>
    </div>

    <div class="vertical-middle container center ignore-header clearfix" style="z-index: 1;">
        <h2 class="call-to-action nobottommargin">Always & Forever</h2>
        <p class="ls1 t300">Join Us on Celebrating Our New Journey on Friday, October 5th, 2018</p>
        <a href="https://www.youtube.com/watch?v=zCV88b9G6bc" class="play-icon" data-lightbox="iframe">
            <i class="icon-googleplay"></i>
        </a>
    </div>

</section>
<!-- #slider end -->


<style>
    .play-icon {
        position: relative;
        display: block;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 62px;
        left: 50%;
        margin-left: -30px;
        border-radius: 50%;
        color: #394868 !important;
        background-color: #FFF;
        -webkit-transition: transform .3s ease;
        -o-transition: transform .3s ease;
        transition: transform .3s ease;
    }

    .play-icon i {
        position: relative;
        left: 4px;
        " "
    }

    .play-icon:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        -o-transform: scale(1.15);
        transform: scale(1.15);
    }

    body.device-xl .onepage-outdoor-negetive,
    body.device-lg .onepage-outdoor-negetive {
        margin-top: -300px;
    }

    /* Extra small devices (portrait phones, less than 576px) */

    @media (max-width: 575px) {}

    @media (min-width: 768px) {
        #slider h2 {
            font-size: 52px;
        }

        .text-overlay-title h3 {
            font-size: 22px;
            letter-spacing: 1px;
            font-weight: 600;
        }
    }
</style>

<section>
{% partial 'sections/our-story.htm' %}
{% partial 'sections/gallery.htm' %}
{% partial 'sections/event.htm' %}
{% partial 'sections/registry.htm' %}
{% partial 'sections/rsvp.htm' %}
</section>