title = "RSVP"
url = "/rsvp"
layout = "default"
is_hidden = 0

[emptyForm responseForm]
group = "Wedding Guest List"
rules[first_name] = "required"
rules[last_name] = "required"
rules[guest_response] = "required"
rules[#_of_person(s)_attending] = "required"
messages_success = "Congrats! You your space been successfully reserved. See you there!"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_subject = "Guest has RSVP for Wedding"
mail_bcc[] = "artmanstan@gmail.com"
mail_bcc[] = "kisnanoeal@gmail.com"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="col_full nobottommargin col_last">
                <div class="heading-block title-center">
                    <h2>Confirm your Presence</h2>
                    <span class="divcenter">The favour of your reply is requested
by September 5th, 2018</span>
                </div>
                <p class="text-center">You can confirm your presence by simply filling out the form below.</p>

                <div class="col-md-12 nobottommargin">

                  <div class="">

                    <form data-request="{{ responseForm }}::onFormSubmit">

                        {{ form_token() }}

                        <div id="{{ responseForm }}_forms_flash"></div>

                  <div class="form-row">

                  <div class="form-group col-md-6">
                    <!-- Field: First Name -->
                  <label class="response-form-label" for="first_name">First Name</label>
                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name"  data-validation="required">
                  </div>
                  <div class="form-group col-md-6">
                    <!-- Field: Last Name -->
                  <label class="response-form-label" for="last_name">Last Name</label>
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name"  data-validation="required">
                  </div>

                  </div>

                  <div class="form-row">

                    <div class="form-group col-md-3">
        <label class="response-form-label" for="guest_response">Response</label>
        <select name="guest_response" class="form-control"  required>
            <option selected>Choose...</option>
            <option value="ACCEPTS">Happily accepts</option>
            <option value="DECLINE">Regretfully declines</option>
        </select>
    </div>

                  <div class="form-group col-md-3">
                  <!-- Select: Person (s) Attending   -->
                  <label class="response-form-label" for="#_of_person(s)_attending">Person(s) Attending</label>
                  <select class="form-control" id="#_of_person(s)_attending" name="#_of_person(s)_attending"  data-validation="required">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  </select>
                  </div>
                  </div>

                  <div class="form-row">
                  <button type="submit" class="button button-rounded button-large button-theme button-dark topmargin-sm noleftmargin">Submit</button>
                  </div>

                  </form>

                </div>

                </div>

            <div class="clear"></div>

            <div class="line bottommargin-lg"></div>

            <span class="response-form-disclaimer">
                <h2>Cocktail hour starts at 6:30pm </h2>
                <p>To give all our guests the opportunity to
celebrate without having to worry about little eyes and ears, we politely request
no children</p>
            </span>

        </div>
</section>
