<header id="header" class="split-menu transparent-header" data-sticky-class="not-dark">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger">
                <i class="icon-reorder"></i>
            </div>

            <!-- Logo
			============================================= -->
            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="{{'assets/images/logos/S&K-logo-dark.svg'|theme}}">
                    <img src="{{'assets/images/logos/S&K-logo-light.svg'|theme}}" alt="Canvas Logo">
                </a>

                <a href="/" class="retina-logo circle-bg" data-dark-logo="{{'assets/images/logos/S&K-logo-dark.svg'|theme}}">
                    <img src="{{'assets/images/logos/S&K-logo-light.svg'|theme}}" alt="Canvas Logo">
                </a>

            </div>
            <!-- #logo end -->

            <nav id="primary-menu" class="with-arrows clearfix">
                <ul class="one-page-menu">
                    <li>
                        <a href="#" data-href="#our-story">
                            <div>Our Story</div>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-href="#gallery">
                            <div>Gallery</div>
                        </a>
                    </li>
                    <li>
                        <a href="#event">
                            <div>Our Event</div>
                        </a>
                    </li>
                </ul>

                <ul class="one-page-menu">

                    <li>
                        <a href="#registry">
                            <div>Registry</div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>RSVP</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>