description = "Site Header"

[staticMenu navLeft]
code = "navleft"

[staticMenu navRight]
code = "navright"

[viewBag]
==
<header id="header"  class="split-menu transparent-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/" class="standard-logo" data-dark-logo="{{'assets/images/logos/S&K-logo-dark.svg'|theme}}">
							<img  src="{{'assets/images/logos/S&K-logo-light.svg'|theme}}" alt="Canvas Logo"></a>

							<a href="/" class="retina-logo circle-bg" data-dark-logo="{{'assets/images/logos/S&K-logo-dark.svg'|theme}}">
							<img src="{{'assets/images/logos/S&K-logo-light.svg'|theme}}" alt="Canvas Logo"></a>

					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->

					<nav id="primary-menu">

						<ul class="one-page-menu">
							<li class="current"><a href="#" data-href="#section-story"><div>Our Story</div></a></li>
	<li><a href="#" data-href="#section-gallery"><div>Gallery</div></a></li>
	<li><a href="#" data-href="#section-event"><div>The Event</div></a></li>
						</ul>

						<ul class="one-page-menu">

							<li><a href="#" data-href="#section-registry"><div>Registry</div></a></li>
							<li><a href="#" data-href="#section-rsvp"><div>RSVP</div></a></li>

						</ul>


					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->
