description = "Default Theme Layout"
==
{% htmlcompress %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if this.page.description %}{{ this.page.description }}{% else %}{{ this.theme.meta_description }}{% endif %}">
    <meta name="keywords" content="{% if this.page.keywords %}{{ this.page.keywords }}{% else %}{{ this.theme.meta_keywords }}{% endif %}">
    <meta name="title" content="{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %}">
    <meta name="author" content="{{ this.theme.website_author }}">
    <meta name="theme-color" content="#223A5E">
    <title>{% if this.page.title %}{{ this.page.title }}{% else %}{{ this.theme.meta_title }}{% endif %} - {{ this.theme.website_name }}</title>
    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Qwigley" rel="stylesheet">
     <link href="{{[
      'assets/css/bootstrap.css',
	    'assets/style.scss',
	    'assets/css/swiper.css',
	    'assets/css/dark.css',
	    'assets/css/font-icons.css',
	    'assets/css/animate.css',
	    'assets/css/magnific-popup.css',
	    'assets/css/responsive.css',
	    'assets/css/custom.css'
         ]|theme }}" rel="stylesheet" type="text/css" media="all">
     {% styles %}
       <!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

  </head>
  <body class="stretched">
      {% partial 'global/header' %}
      <!-- CONTENT -->
       	{% page %}
     <!-- END: CONTENT -->

    <!-- SCRIPTS -->
    <script src="{{'assets/js/jquery.js'|theme}}" type="text/javascript"></script>
    <script src="{{'assets/js/plugins.js'|theme}}" type="text/javascript"></script>
    <script src="{{'assets/js/functions.js'|theme}}" type="text/javascript"></script>
    {% framework extras %}
    {% scripts %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <script>
      $.validate({
        lang: 'en'
      });
    </script>

    <script>
 var mButton = $('.morph-button'); mButton.on('click', function() { $('.morphing-dialog').css({ top: 'auto', left: 'auto'
}) setTimeout(function() { var rectProp = mButton[0].getBoundingClientRect(); $('.morphing-dialog').css({ top: rectProp.top,
left: rectProp.left }) setTimeout(function() { $('.morphing-container').toggleClass('open'); }, 25) }, 25) }) $('.close-dialog').on('click',
function() { $('.morphing-container').toggleClass('open'); }) var rectProp = mButton[0].getBoundingClientRect(); $('.morphing-dialog').css({
top: rectProp.top, left: rectProp.left })
    </script>
  </body>
</html>

{% endhtmlcompress %}
