
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Block Titles
-----------------------------------------------------------------*/

.title-block {
	padding: 2px 0 3px 20px;
	border-left: 7px solid $theme-color;
	margin-bottom: 30px;

	.title-block-right {
		padding: 2px 20px 3px 0;
		border-left: 0;
		border-right: 7px solid $theme-color;
		text-align: right;
	}

	h1,
	h2,
	h3,
	h4 {
		margin-bottom: 0;
	}

	> span {
		display: block;
		margin-top: 4px;
		color: #555;
		font-weight: 300;
	}

	h1 + span {
		font-size: 22px;
	}

	h2 + span {
		font-size: 19px;
	}

	h3 + span {
		font-size: 17px;
	}

	h4 + span {
		font-size: 15px;
		margin-top: 3px;
	}
}


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { margin-bottom: 50px; }

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
	margin-bottom: 0;
	font-weight: 700;
	text-transform: $heading-block-tt;
	letter-spacing: 1px;
	color: $heading-block-color;
}

.emphasis-title {
	h1,
	h2 {
		font-weight: 400;
		letter-spacing: 0;
		text-transform: none;
	}
}

.heading-block {
	h1 {
		font-size: $heading-block-h1;
	}

	h2 {
		font-size: $heading-block-h2;
	}

	h3 {
		font-size: $heading-block-h3;
	}

	h4 {
		font-size: $heading-block-h4;
		font-weight: 700;
	}

	> span:not(.before-heading) {
		display: block;
		margin-top: 10px;
		font-weight: 300;
		color: #777;
	}

	.before-heading {
		margin-bottom: 7px;
	}
}

.heading-block.center,
.heading-block.title-center,
.center .heading-block {
	> span {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}

.heading-block {
	h1 + span {
		font-size: 24px;
	}

	h2 + span {
		font-size: 1em;
	}

	h3 + span,
	h4 + span {
		font-size: 20px;
	}

	~ p:not(.lead) {
		font-size: 15px;
	}

	&:after {
		content: '';
		display: block;
		margin-top: 30px;
		width: 40px;
		border-top: 2px solid #444;
	}
}

.center .heading-block,
.heading-block.center,
.heading-block.title-center {
	&:after {
		margin: 30px auto 0;
	}
}

.heading-block.noborder,
.heading-block.nobottomborder {
	&:after {
		display: none;
	}
}

.tright .heading-block,
.heading-block.tright,
.heading-block.title-right { direction: rtl; }

.heading-block.border-color {
	&:after {
		border-color: $theme-color;
	}
}


/* Emphasis Title
-----------------------------------------------------------------*/

.emphasis-title {
	margin: 0 0 50px;

	h1,
	h2 {
		font-size: 64px;
		letter-spacing: -2px;

		strong {
			font-weight: 700;
		}
	}
}


/* Justify Border Title
-----------------------------------------------------------------*/

.fancy-title {
	position: relative;
	margin-bottom: 30px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		position: relative;
		display: inline-block;
		background-color: #FFF;
		padding-right: 15px;
		margin-bottom: 0;
	}

	h4,
	h5,
	h6 {
		padding-right: 10px;
	}

	&.title-double-border,
	&.title-border,
	&.title-border-color {
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 0;
			border-top: 3px double #E5E5E5;
			left: auto;
			top: 46%;
			right: 0;
		}
	}

	&.title-border {
		&:before {
			top: 49%;
			border-top: 1px solid #EEE;
		}
	}

	&.title-border-color {
		&:before {
			top: 49%;
			border-top: 1px solid $theme-color;
			opacity: 0.6;
		}
	}
}


/* Fancy Title - Center Align
-----------------------------------------------------------------*/

.title-center {
	text-align: center;

	h1,
	h2,
	h3 {
		padding: 0 15px;
	}

	h4,
	h5,
	h6 {
		padding: 0 10px;
	}
}


/* Fancy Title - Right Align
-----------------------------------------------------------------*/

.title-right {
	text-align: right;

	h1,
	h2,
	h3 {
		padding: 0 0 0 15px;
	}

	h4,
	h5,
	h6 {
		padding: 0 0 0 10px;
	}
}


/* Fancy Title - Bottom Short Border
-----------------------------------------------------------------*/

.fancy-title {
	&.title-bottom-border {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			display: block;
			background: transparent;
			padding: 0 0 10px;
			border-bottom: 2px solid $theme-color;
		}
	}
}


/* Fancy Title - Bottom Short Border
-----------------------------------------------------------------*/

.fancy-title.title-dotted-border { background: url('images/icons/dotted.png') repeat-x center; }


/* Sub Heading
-----------------------------------------------------------------*/

.before-heading {
	display: block;
	margin: 0 0 5px;
	font-size: 16px;
	font-family: $secondary-font;
	font-style: italic;
	font-weight: 400;
	color: #999;
}
