<!-- Parallax Content
		============================================= -->
<div class="section parallax dark nobottommargin" style="background-image: url('{{'assets/images/event1-2.jpg'|theme}}'); padding: 100px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

    <div class="heading-block center parallax-heading">
        <h2>Join Us & Celebrate</h2>
        <span class="divcenter" style="font-style: italic;">On Friday, 5th of October 2018</span>
    </div>

</div>

<div id="content" style="overflow: visible;">

    <!-- Top Border Image -->
    <div class="section-border-top"></div>
    <!-- Bottom Border Image -->
    <div class="section-border-bottom"></div>

    <div class="content-wrap">
        <div class="container clearfix">
            <div id="section-event" class="heading-block title-center nobottomborder page-section">
                <h2>The Event</h2>
                <!-- <span class="divcenter">We've been blessed to share with you a list of registries, loacted in and out of the South Florida. Thank you very much :)</span> -->

            </div>


            <div class="row bottommargin-sm center">

                <div class="col_one_third nobottommargin">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                        <div class="fbox-icon">
                              <img class="vendor-logos" src="{{'assets/images/events-icons/001-gift-box.svg'|theme}}" alt="">
                        </div>
                        <h3>Wedding Shower
                          </h3>
                          <span class="subtitle event-details">
                            <p>Redemption Baptist Church</p>
                              <p>3501 NE 3<sup>rd</sup> Avenue</p>
                                <p>Pompano Beach, FL 33064</p>
                                <br>
                                <span>5:30 PM - 9:30 PM</span>
                          </span>

                    </div>
                </div>
                <div class="col_one_third nobottommargin">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                        <div class="fbox-icon">
                          <img class="vendor-logos" src="{{'assets/images/events-icons/002-church.svg'|theme}}" alt="">
                        </div>
                        <h3>Main Ceremony</h3>
                        <span class="subtitle event-details">
                          <p>Redemption Baptist Church</p>
                            <p>3501 NE 3<sup>rd</sup> Avenue</p>
                              <p>Pompano Beach, FL 33064</p>
                              <br>
                              <span>2:30 - 3:30 PM</span>
                        </span>
                    </div>
                </div>
                <div class="col_one_third nobottommargin col_last">
                    <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                        <div class="fbox-icon">
                            <img class="vendor-logos" src="{{'assets/images/events-icons/003-toast.svg'|theme}}" alt="">
                        </div>
                        <h3>After Party</h3>
                        <span class="subtitle event-details">
                          <p>Signature Grand</p>
                            <p>6900 W State Road 84,</p>
                              <p>Davie, FL 33317</p>
                              <br>
                              <span>6:30 PM - Midnight</span>
                        </span>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
