<!-- Parallax Content
		============================================= -->
<div class="section parallax dark nobottommargin" style="background-image: url({{'assets/images/memories.jpg'|theme}}); padding: 100px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

    <div class="heading-block center parallax-heading">
        <h2>Precious Moments</h2>
        <span class="divcenter" style="font-style: italic;">Capturing Life's Memories Forever</span>
    </div>

</div>
<div id="content" style="overflow: visible;">

    <!-- Top Border Image -->
    <div class="section-border-top"></div>
    <!-- Bottom Border Image -->
    <div class="section-border-bottom"></div>

    <div class="content-wrap">
        <div class="container clearfix">
            <div id="section-gallery" class="heading-block title-center nobottomborder page-section">
                <h2>Wedding Gallery</h2>
                <span class="divcenter">We happy that you are attending our wedding,
             and we want to show you some of the best moments which are full of passion, love, & memories! </span>
            </div>


            <div class="row bottommargin-sm center">

                <div class="col-md-12">
                    {% component 'galleryId' %}
                </div>

            </div>

        </div>
    </div>
</div>
