<!-- Top Border Image -->
<div class="section-border-top"></div>

<div id="content" style="overflow: visible;">

    <!-- Top Border Image -->
    <div class="section-border-top"></div>
    <!-- Bottom Border Image -->
    <div class="section-border-bottom"></div>

    <div class="content-wrap">
        <div class="container clearfix">
            <div id="section-story" class="heading-block title-center nobottomborder page-section">
                <h2>Our Story</h2>
            </div>


            <div class="row bottommargin-sm center">

                <div class="col-md-12">
                  <p>The first time we ever laid eyes on each other was where everyone and their mothers say you will find your future spouse and that's “church” back in 2009. In particular, we both happened to be at my home church function where Kisna was a visitor at the time. I was so taken back by her beauty I told myself that I had to go up and  introduce myself. I must admit at the time I did not have the confidence in myself let alone have the confidence needed to muster up and talk to her.</p>
                  <p>I honestly felt like she was way out of my league, but something inside told me that if I did not at least introduce myself that I would probably go on to regret it. After the function, I decided to do what we would say today “shoot my shot” despite all my nervousness. So with my heart racing in my chest, I sought her out after the function and waited till she was alone to approach her. I made my way over and sheepishly and with no lame pickup line needed, I opened up my mouth and said “hi, my name is Stan”. She likewise with a gorgeous smile introduced herself.</p>
                  <p> From there we begin to establish a friendship that spanned the course of two years . That friendship led to feelings starting to develop between us, and the beginning of what Kisna would say “5  long years” of courting. Throughout the many laughs, memories, triumphs, and even the tribulations that would often test our relationship. We both came to the conclusion that we cannot  imagine living life without one another so I decided that it was time to make this last forever and have her as my wife.</p>
                </div>

            </div>


            <div class="row nobottommargin center">
                <div class="col-md-12">
                    <!-- Our Image  -->
                    <img src="{{'assets/images/our-story-1.png'|theme}}" alt="">
                </div>
            </div>


        </div>
    </div>
</div>
