<!-- Parallax Content
		============================================= -->
<div class="section parallax dark nobottommargin" style="background-image: url('{{'assets/images/wedding-gifts.jpg'|theme}}'); padding: 100px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

    <div class="heading-block center parallax-heading">
        <h2>Our Wish List</h2>
        <span class="divcenter" style="font-style: italic;">Some Awesome Gifts we would appreciate</span>
    </div>

</div>

<div id="content" style="overflow: visible;">

  <!-- Top Border Image -->
     <div class="section-border-top"></div>
     <!-- Bottom Border Image -->
     <div class="section-border-bottom"></div>


    <div class="content-wrap">
        <div class="container clearfix">
            <div id="section-registry" class="heading-block title-center nobottomborder page-section">
                <h2>Gift Registry</h2>
                <span class="divcenter">To keep life simple, we have organized a gift
registry of our favorite things at:</span>

            </div>

            <div class="col_one_third center nobottommargin">
                <div>
                    <img class="vendor-logos" src="{{'assets/images/vendors/bed-bath-logo.svg'|theme}}" alt="">
                </div>
                <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=545991043&pwsurl=&searchParam=545991043" target="_blank" class="button button-rounded button-reveal button-large button-theme button-dark topmargin-sm noleftmargin">
                    <i class="icon-cart"></i>
                    Shop Now</a>
            </div>


            <div class="col_one_third center nobottommargin">
                <div>
                    <img class="vendor-logos" src="{{'assets/images/vendors/amazon-logo.svg'|theme}}" alt="">
                </div>
                <a href="https://www.amazon.com/wedding/share/kisnastanleyregistry" target="_blank" class="button button-rounded button-reveal button-large button-theme button-dark topmargin-sm noleftmargin">
                  <i class="icon-cart"></i>
                  Shop Now</a>
            </div>

            <div class="col_one_third center nobottommargin col_last">
                <div>
                    <img class="vendor-logos" src="{{'assets/images/vendors/venmo.svg'|theme}}" alt="">
                </div>
                <a href="https://venmo.com/Stanley-Bonhomme?via=searchbox" class="button button-rounded button-reveal button-large button-theme button-dark topmargin-sm noleftmargin" target="_blank">
                           <i class="icon-dollar"></i>
                           Send Now</a>
            </div>

        </div>

        <div class="container clearfix">
            <div class="row topmargin-sm nobottommargin center">
                <div class="col_full_width">
                    <p>If you would prefer a shopping free option, a monetary gift would also be truly appreciated.The most important thing to us is that you will make our day special just by being there.</p>
                </div>
            </div>

        </div>

    </div>
</div>
