<div id="content" class="section parallax dark nobottommargin" style="background-image: url('{{'assets/images/rsvp-bg.jpg'|theme}}'); padding: 100px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

    <!-- Top Border Image -->
    <div class="section-border-top"></div>

    <div class="content-wrap">
        <div class="container clearfix">
            <div id="section-rsvp" class="heading-block title-center nobottomborder parallax-heading page-section">

                <h2>Rsvp to Attend</h2>
                <span class="divcenter" style="font-style: italic;">The favour of your reply is requested by September 5th, 2018</span>

            </div>


            <div class="row bottommargin-sm center">

                <div class="col-md-12">

                    <!-- RSVP Login Button -->
                    <div class="morphing-container">
                        <button class="morph-button">Reserve My Seat</button>

                        <div class="morphing-dialog">
                            <div class="dialog-box-container">
                                <div class="dialog-box">
                                    <span class="close-dialog"></span>
                                    <div class="form-details">
                                        <span class="details-captions">The login credeantials to RSVP are provided for you on the response card of your
                                                              invitation.</span>
                                    </div>


                                    <form data-request="onSignin">
                                        <div class="input-container">
                                            <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
                                            <input name="login" type="text" id="userSigninLogin" placeholder="Enter your {{ loginAttributeLabel|lower }}" />
                                        </div>

                                        <div class="input-container">
                                            <label for="userSigninPassword">Password</label>
                                            <input name="password" type="password" id="userSigninPassword" placeholder="Enter your password" />
                                        </div>

                                        <button type="submit" class="login">Sign in</button>
                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div> <!-- .container .clearfix -->
    </div><!-- .content-wrap-->

    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copyright text-center">
                        <small class="text-muted footer-copyright">&copy; {{ this.theme.website_name }} {{ "now"|date("Y") }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Parallax BG -->
