<!-- Slider
  ============================================= -->
  <section id="slider" class="slider-element dark swiper_wrapper clearfix" style="height: 900px;" data-effect="fade" data-autoplay="5000" data-loop="true" data-speed="1000" data-progress="true">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark" style="background-image: url('{{'assets/images/engagement/KISNA_STAN-2.jpg'|theme}}'); background-position: center bottom; height: 900px;"></div>
        <div class="swiper-slide dark" style="background-image: url('{{'assets/images/engagement/KISNA_STAN-34.jpg'|theme}}'); background-position: center bottom; height: 900px;"></div>
        <div class="swiper-slide dark" style="background-image: url('{{'assets/images/engagement/KISNA_STAN-54.jpg'|theme}}'); background-position: center bottom; height: 900px;"></div>
      </div>
    </div>

    <div class="vertical-middle container center ignore-header clearfix" style="z-index: 1;">
      <h2 class="t700 nobottommargin" style="font-family: 'Playfair Display';">A Beautiful Travel</h2>
      <p class="ls1 t300">Adventure is worthwhile</p>
      <a href="https://youtu.be/watch?v=zCV88b9G6bc" class="play-icon" data-lightbox="iframe"><i class="icon-googleplay"></i></a>
    </div>

  </section><!-- #slider end -->


  	<style>
  		.play-icon {
  			position: relative;
  			display: block;
  			font-size: 28px;
  			width: 60px;
  			height: 60px;
  			line-height: 62px;
  			left: 50%;
  			margin-left: -30px;
  			border-radius: 50%;
  			color: #267DF4 !important;
  			background-color: #FFF;
  			-webkit-transition: transform .3s ease;
  			-o-transition: transform .3s ease;
  			transition: transform .3s ease;
  		}

  		.play-icon i {
  			position: relative;
  			left: 4px;"
  		}

  		.play-icon:hover {
  			-webkit-transform: scale(1.15);
  			-ms-transform: scale(1.15);
  			-o-transform: scale(1.15);
  			transform: scale(1.15);
  		}

  		body.device-xl .onepage-outdoor-negetive,
  		body.device-lg .onepage-outdoor-negetive { margin-top: -300px; }

  		@media (min-width: 768px) {
  			#slider h2 { font-size: 52px; }

  			.text-overlay-title h3 {
  				font-size: 22px;
  				letter-spacing: 1px;
  				font-weight: 600;
  			}
  		}
  	</style>
