// Call to Action
.call-to-action {
    font-family: $heading-font;
    font-weight: 700;
    line-height: normal !important;
    font-size: 125px !important;
    color: #fff !important;
}

.parallax-heading {
    h2 {
        font-size: 7em !important;
        line-height: normal !important;
    }
}

// Fix Logo when Nav Collapse
#header.sticky-header:not(.static-sticky),
#header.sticky-header:not(.static-sticky) #header-wrap,
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height: 100px;
    padding: 4px 0 16px;
}

.footer-copyright {
  color: #fff !important;
}

.feature-box {
  h3 {
    color: $gold !important;
    text-transform: none;
    font-size: 50px;

  }

  .event-details {
    p {
      font-size: 14px !important;
      line-height: 14px !important;
      font-family: $body-font;
    }
    span {
      font-size: 16px !important;
      line-height: 16px !important;
      font-family: $body-font;
      color: $navy;
      font-style: italic;
    }
  }
}

.response-form-label{
  font-family: $body-font;
  font-style: normal;
  text-transform: inherit;

}

.response-form-disclaimer {


  h2  {
      text-align: center;
    font-size: 1.5em;
    font-family: $body-font;
    text-transform: uppercase;
  }
  p {
    font-size: 1em;

  }
}

// Border
.section-border-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: url('./images/row-divider-wedding-top.png') no-repeat center bottom;
    background-size: auto 100%;
    height: 20px;
    margin-top: -20px;
}

.section-border-bottom {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
z-index: 3;
background: url('./images/row-divider-wedding-bottom.png') no-repeat center bottom;
background-size: auto auto;
background-size: auto 100%;
height: 20px;
margin-bottom: -78px;
}

.vendor-logos {
    width: 250px;
    height: auto;
}

// Button
button {
    font-family: $body-font !important;
    font-family: 700 !important;
    font-size: 15px;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: $theme-color;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    width: 100%;
}

.morphing-container {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    .morph-button {
        border: none;
        padding: 10px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9em;
        background: #fff;
        cursor: pointer;
        color: $navy;
        font-weight: 700;
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.3s 0.4s;
        transition: opacity 0.3s 0.4s;
    }
    &.open {
        .morphing-dialog {
            height: 400px;
            width: 350px; // padding: 30px 30px;
            z-index: 999;
            margin: -150px 0 0 -150px;
            top: 50% !important;
            left: 50% !important;
            opacity: 1;
            -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
            transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
            -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
            .dialog-box-container {
                opacity: 1;
                -webkit-transition: opacity 0.2s 0.5s;
                transition: opacity 0.2s 0.5s;
            }
        }
        .morph-button {
            opacity: 0;
            -webkit-transition: opacity 0.1s;
            transition: opacity 0.1s;
        }
    }
    .morphing-dialog {
        opacity: 0;
        position: fixed;
        background: #fff;
        height: 50px;
        width: 190px;
        overflow: hidden;
        z-index: -1;
        border: solid 5px #fff;
        -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
        transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
        -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        .dialog-box-container {
            background: #fff;
            height: 100%;
            width: 100%;
            opacity: 0;
        }
        .close-dialog {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
            height: 15px;
            width: 15px;
            &:before {
                content: '';
                display: block;
                height: 15px;
                width: 2px;
                background: $navy;
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0;
                bottom: 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:after {
                content: '';
                display: block;
                height: 15px;
                width: 2px;
                background: $navy;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
        .form-details {
            padding: 25px 20px 20px;
            .details-title {
                margin-top: 0;
                color: $navy;
                font-family: $body-font;
            }
            .details-captions {
               color: $navy;
            }
        }
        form {
            padding: 0 20px;
            .input-container {
                label {
                    display: block;
                    font-size: 0.7em;
                    color: $navy;
                    font-size: 16px;
                    font-family: $body-font;
                }
                input {
                    display: block;
                    margin-bottom: 15px;
                    margin-top: 5px;
                    padding: 5px 10px;
                    width: 100%;
                }
            }
            .login {
                margin-top: 10px;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    #header,
    #header-wrap,
    #logo img {
        height: 85px !important;
        margin: 5px 0;
    } // Make Slider Longer On Mobile
    section.swiper_wrapper:not(.force-full-screen),
    section.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide {
        height: 375px !important;
    }
    .call-to-action {
        font-size: 45px !important;
    }
    .parallax-heading {
        h2 {
            font-size: 3em !important;
            line-height: normal !important;
        }
    }
}

// Button theme
.button-theme {
    background-color: $theme-color;
}

.button-3d.button-theme:hover,
.button-reveal.button-theme:hover,
.button-border.button-theme:hover,
.button-border.button-theme.button-fill:before {
    background-color: $theme-color !important;
}

.button-border.button-theme,
.button-border.button-theme.button-fill.button-light:hover {
    color: $theme-color !important;
    border-color: $theme-color !important;
}

.button-border.button-theme:hover,
.button-border.button-theme.button-fill.button-light:hover {
    color: $side-header-bg !important;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
    #header,
    #header-wrap,
    #logo img {
        height: 90px !important;
        margin: 0px 0;
    }

    .morphing-container.open .morphing-dialog {
    top: 50% !important;
    left: 45% !important;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {}
