/* ============================================================================
  PLUGIN OVERIDE
=============================================================================*/
#galleryId div {
         display: inline-block !important;
         // float: left;
         margin: 3px;
     }

// Light Box Overides

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: $theme-color !important;
}

.lg-progress {
    background-color: $theme-color !important;
}
